
 <div class="main_home">
<div class="wrap">
<div class="wrap-content">
<form id="book"   method="POST" action="/">
    
      <div class="place">
        <label for="Place">Where</label>
        <select id="where" name="where" placeholder="Anywhere">
           <option>Toronto</option>
           <option>Montreal</option>
           <option>Vancouver</option>
           <option>Ottawa</option>
            </select>
         </div>
           
                  <table>
        <tbody>
            <tr>
                <td>
            <div class="check_in">
            <label for="check_in">Check in</label>
            <input type="Date" name="Check_in" placeholder="Thu,19th Sep" style="width: 148px"></div>
              </td>
           <td><div class="check_out">
            <label for="check_out">Check out</label>
            <input type="Date" name="Chek_out"  placeholder="Set,21thSep" style="width: 148px"></div>
              </td> 
            </tr>
                  </tbody>
                    </table>
            <div class="Guests">
            <label for="Guests">Guests</label>
            <select id="Guest" name="Guest" placeholder="1 guest">
             <option>1 guest</option>
                <option>2 guest</option>
                <option>3 guest</option>
                <option>4 guest</option>
                <option>5 guest</option>
                </select>
                     </div>
                     
                     
               <br>
               <input type="submit" value="Search" class="search" id="search">
                
                  </form>
                  
                 </div>
                 
     </div>
<section class="promotion">
<div class="promotion-content">
<h1><b>you will get a 20% voucher if you refere a friend </b><h4>
</div>
</section>

<div class="information">
    <div class="information-content">
   <p> Airbnb began in 2008 when two designers who had space to share
             hosted three travellers looking for a place to stay. Now, 
             millions of hosts and travellers choose to create a free
              Airbnb account so they can list their space and book unique 
              accommodations anywhere in the world. And Airbnb experience 
              hosts share their passions and interests with both travellers and locals.</p>
  </div>
<div >
<iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/KT9zihN24bE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> 

    </div>
   </div>   
    