

<div class="log-in">
        <div class="log-in-content">
        {{#each message}}
        <div class="errors">{{this}}</div>
         {{/each}}

                <form  method="POST" action="/login">

                        <div class="UserName">
                        <label>UserName</label>
                        <input type="Username" name="UserName" placeholder="Enter UserName"></div>
                        <div class="Password"></div>
                        <label>PassWord</label>
                        <input type="text" name="PassWord" placeholder="Enter Password">
                        <br>
               
                       <input type="submit" value="Send Message to Crush" class="button" id="button">
                        
                        </form>
        </div>
</div>
                        