

<div class="log-in">
        <div class="log-in-content">
        {{#each message}}
        <div class="errors">{{this}}</div>
         {{/each}}

                <form  method="POST" action="/login">

                        <div class="UserName">
                        <label>UserName</label>
                        <input type="Username" name="UserName" placeholder="Enter UserName"></div>
                        <div class="Password"></div>
                        <label>PassWord</label>
                        <input type="text" name="PassWord" placeholder="Enter Password">
                        <br>
                       <input type="submit" value="Login" class="button" id="button">
                       <input type="checkbox" value="Remember me">Remember me<br>
                       <h4>Don’t have an account?
                        <a href="/registration">Sign up</a></h4>
                        </form>
        </div>
</div>
                        