  <div class="popup">
    <div class="table-responsive">
        <div class="popup-content">
            {{#each message}}
                <div class="errors">{{this}}</div>
              {{/each}}
                <form  method="POST" action="/registration">
                    
                       <div><h2>sign with <a href="https://www.facebook.com/airbnb">Facebook</a> or <a href="https://www.google.com/">Google</a><h2></div>
                       <h3 class="or">-----------------------------or------------------------------</h3>
                        <div class="email">
                        <input type="email" name="email" placeholder="Email address"><i class= "fa fa-user icon"></i></div>
                        <div class="firstname">
                        <input type="text" name="FirstName" placeholder="First name"><i class="fa fa-user icon"></i></div>
                        <div class="lastName">
                        <input type="text" name="LastName"  placeholder="Last name"><i class="fa fa-user icon"></i></div>
                        <div class="password"></div>
                        <input type="text" name="password" placeholder="Create a Password,that is 6 to 12 characters and must have letters and numbers only"><i class="fa fa-user icon"></i>
       
               
                   <div class="birth">
                        <label><b>Birthday</b></label>
                   <h4>To sign up,you need to be at least 18,Other people who use Airbnb wont see
                       your birthday
                   </h4>
                   </div>
                   <div class="datepicker">
                   <div class="monthpick" style="flex-basis:50%">
                         <select name="Month" class="required">
                           <option value="Month">Month</option>
                           <option value="Jan">January</option>
                          <option value="Feb">February</option>
                          <option value="March">March</option>
                          <option value="April">April</option>
                          <option  value="May">May</option>
                           <option value="June">June</option>
                           <option value="July">July</option>
                           <option value="August">August</option>
                           <option value="Sep">September</option>
                           <option value="Oct">October</option>
                          <option value="Nov">November</option>
                           <option value="dec">december</option>
                            </select>
                        </div>
                           <div class="daypick" style="flex-grow: 1">
                           <select name="Day" class="required">
                           <option value="Day">Day</option>
                           <option value="2001">01</option>
                           <option value="2000">02</option>
                           <option value="1999">03</option>
                           <option value="1998">04</option>
                           <option value="1997">05</option>
                           <option value="1996">06</option>
                           <option value="1995">07</option>
                            <option value="1994">08</option>
                            <option value="1993">09</option>
                            <option value="1992">10</option>
                           <option value="1991">11</option>
                           <option value="2001">12</option>
                           <option value="2000">13</option>
                           <option value="1999">13</option>
                           <option value="1998">14</option>
                            <option value="1997">15</option>
                            <option value="1996">16</option>
                            <option value="1995">17</option>
                            <option value="1994">18</option>
                            <option value="1993">19</option>
                            <option value="1992">20</option>
                           <option value="1991">21</option>
                           <option value="2001">22</option>
                           <option value="2000">23</option>
                           <option value="1999">23</option>
                           <option value="1998">24</option>
                            <option value="1997">25</option>
                            <option value="1996">26</option>
                            <option value="1995">27</option>
                            <option value="1994">28</option>
                            <option value="1993">29</option>
                            <option value="1992">30</option>
                           <option value="1991">31</option>

                    </select>
                         </div>
       <div class="yearpick" style="flex-grow: 1">
                           <select name="Year" class="required">
                           <option selected="" value="Year">Year</option>
                           <option value="2001">2001</option>
                           <option value="2000">2000</option>
                           <option value="1999">1999</option>
                           <option value="1998">1998</option>
                            <option value="1997">1997</option>
                            <option value="1996">1996</option>
                            <option value="1995">1995</option>
                            <option value="1994">1994</option>
                            <option value="1993">1993</option>
                            <option value="1992">1992</option>
                           <option value="1991">1991</option>
                           <option value="2001">1990</option>
                           <option value="2000">1989</option>
                           <option value="1999">1988</option>
                           <option value="1998">1987</option>
                            <option value="1997">1986</option>
                            <option value="1996">1985</option>
                            <option value="1995">1984</option>
                            <option value="1994">1983</option>
                            <option value="1993">1982</option>
                            <option value="1992">1981</option>
                           <option value="1991">1980</option>

              </select>
     </div>
</div>
               <br>
               
                   <input type="submit" value="Sign up" class="button" id="button">
                   <img src="image/Close-icon.png" alt="close"  class="close">
                   
                <h4>Already have an Airbnb account?<a href="/login">Log in</a></h4>
                </form>
        </div>
</div>
    </div>
    
